/* RESET CSS*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
a {
    text-decoration: none;
}
a:hover,
a:visited {
    color: black;
}
/*

/* Custom Properties */

:root {
    --clr-blue: #5169a7;
    --clr-orange: #d09d72;
    --clr-orange-light: #d1bead;
    --clr-orange-accent: #dc732f;
    --clr-purple: #551690;
}

html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-orange-light);
    height: 100%;
    color: black;
    margin: 0 auto;
}

header {
    background-color: var(--clr-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: auto;
}

header h1 {
    font-size: 1.5rem;
}
header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 1rem;
}
header nav ul li a {
    text-decoration: none;
}
nav li:nth-child(2) {
    font-weight: bolder;
}

section {
    background-color: var(--clr-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.3rem;
}
section div a:nth-child(1) {
    color: var(--clr-orange);
    background-color: var(--clr-purple);
    border-radius: 50%;
    font-size: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    text-shadow: 0 0 0 var(--clr-orange);
}

main {

    margin-bottom: 1rem;
    padding: 1rem;
    
}
main form{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 550px;
}

main h2{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
main form label{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

main form input {
    background-color:var(--clr-orange-light) ;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border:none;
    border-bottom: 3px solid var(--clr-purple);
    font-size: 1rem;
}
main form input:focus-visible{
    outline: none;
    
}

main form button{
    background-color:var(--clr-blue);
    color: white;
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 0.3rem;
    height: min-content;
    width: min-content;
    border:none;
}


footer {
    background-color: var(--clr-blue);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img {
    padding: 1rem;
    max-width: 100%;
}
